
 <div class="col-md-4 map-div">
  <div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
      <h5>Select your city</h5>     
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div id="panel">
          <input id="city_country" type="textbox" value="mumbai">
          <input type="button" value="Geocode" onclick="codeAddress()">
        </div>  
        <div id="mapCanvas"></div>
          <div id="infoPanel">
            
            <div id="address"></div>
          </div>
        </div>
      </div>
    </div>
</div>
          <div class="col-lg-8 col-xs-8 post ">
            <div class="[ panel panel-default ] panel-google-plus">
                <section style="background:#efefe9;">
        <div class="">
            <div class="">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div id="align" class="board-inner">
                    <ul id="myTab" class="nav nav-tabs">
                    <div class="liner"></div>
                     <li class="active">
                     <a title="welcome" data-toggle="tab" href="#home">
                      <span class="round-tabs one">
                             <i class="fa fa-picture-o"></i>
                             <span class="color">Gallary</span>
                             

                      </span> 
                  </a></li>

                  <li><a title="profile" data-toggle="tab" href="#profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a title="bootsnipp goodies" data-toggle="tab" href="#doner">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                        <h4>Create new album</h4>
                        <form method="post" data-remote="true" accept-charset="UTF-8" action="/users/41/albums" id="new_album" class="new_album"><input type="hidden" value="✓" name="utf8">
                         <input type="text" id="album_album_name" name="album[album_name]" class="form-control">
                         <input type="submit" class="btn btn-info btn-picssi" value="Create Album" name="commit">

</form>                        <hr>

                        <div id="albumpage">
                         
<div class="row">

	<div class="col-md-3 col-sm-3 col-xs-3">
		 <a data-remote="true" class="photolink" href="/users/41/albums/2">
	<i class="fa fa-folder-open folder"></i>
	mypic</a>
	</div>


	<div class="col-md-3 col-sm-3 col-xs-3">
		 <a data-remote="true" class="photolink" href="/users/41/albums/3">
	<i class="fa fa-folder-open folder"></i>
	love symbol</a>
	</div>


	<div class="col-md-3 col-sm-3 col-xs-3">
		 <a data-remote="true" class="photolink" href="/users/41/albums/4">
	<i class="fa fa-folder-open folder"></i>
	value</a>
	</div>

</div>





<style>
.folder
{
  font-size: 50px;
  color: teal;

}
.photolink
{
	text-decoration: none;
	color: teal;
}
.photolink:hover
{
	text-decoration: none;
	color: teal;
}
#mapCanvas {
    width: 250px;
    height: 250px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
</style>
                        </div>

                      </div>
                      <div id="profile" class="tab-pane fade">
                          <h3 class="head text-center">Create a Bootsnipp<sup>&trade;</sup> Profile</h3>
                      </div>
                      <div id="doner" class="tab-pane fade">
                        <h3 class="head text-center">fsdfsa a Boofdsafatsnipp<sup>&trade;</sup> Profile</h3>
                      </div>
                     </div> 

<div class="clearfix"></div>
</div>

</div>
</div>
</section></div>

                   
            </div>
