
 <div class="col-md-4 map-div">
  <div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
      <h5>Select your city</h5>     
    </div>
    <div class="panel-body">
      <div class="tab-content">
      <!--   <div id="panel">
          <input id="city_country" type="textbox" value="mumbai">
          <input type="button" value="Geocode" onclick="codeAddress()">
        </div>  
        <div id="mapCanvas"></div>
          <div id="infoPanel">
            
            <div id="address"></div>
          </div> -->
          <div id="calender">
          </div>
        </div>
      </div>
    </div>
</div>


</form>                        <hr>



<style>
.folder
{
  font-size: 50px;
  color: teal;

}
.photolink
{
	text-decoration: none;
	color: teal;
}
.photolink:hover
{
	text-decoration: none;
	color: teal;
}
#mapCanvas {
    width: 250px;
    height: 250px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
</style>
  </div>

</div>
<div id="profile" class="tab-pane fade">
    <h3 class="head text-center">Create a Bootsnipp<sup>&trade;</sup> Profile</h3>
</div>
<div id="doner" class="tab-pane fade">
  <h3 class="head text-center">fsdfsa a Boofdsafatsnipp<sup>&trade;</sup> Profile</h3>
</div>
</div> 

<div class="clearfix"></div>
</div>

</div>
</div>
</section></div>

                   
</div>
