<table class='table'>
	<tr><th>Account deactivate</th><td>yes</td></tr>
	<tr><th>Block Person</th><td><%= link_to "list",block_list_user_settings_path(current_user)%></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
	<tr><th></th><td></td></tr>
</table>