<table class='table'>
	<tr><th>View Post as</th><td>yes</td></tr>
	<tr><th>Change Password</th><td><a href="javaScript:void(0)" id="change_password">change</a></td></tr>
	<tr><td><div id="change_password_pane"></div></td></tr>
	<tr><th>Add Email</th><td>yes</td></tr>
	<tr><th>Change Mobile</th><td>yes</td></tr>
	<tr><th>Deactive Account</th><td>yes</td></tr>
</table>

<script>

  $("#change_password").click(function(){ 
   $("#change_password_pane").html("<%= j render( partial: 'settings/change_password')%>")
  });
  
</script>

