
/*use full mtp margin top in percentage*/

.mtp-5{margin-top:5%;}
.mtp-6{margin-top:6%;}
.mtp-7{margin-top:7%;}
.mtp-8{margin-top:8%;}
.mtp-9{margin-top:9%;}
.mtp-10{margin-top:10%;}





/*SEarch section*/
#searchContainer {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
    display: none; 
    overflow: visible;
    position: absolute;
    top: 37px;
    width: 81.5%;
    margin-left: 14px;
    z-index: -1;
    /* display: none; */
}

#searchTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 322px;
border-bottom: 1px solid #dddddd;
}

#searchBody {
padding: 33px 0px 0px 0px !important;
min-height: 300px;
}
/*end*/
.enter
{
  float: right;
   border-left: 1px solid #000000;
    height: 100%;

}
.signup
{
 height: 55px;
    width: 304px;
        margin-left: 153px;
    margin-top: 102px;
    background-color: teal;
    color:white;
    border-radius: 25px;


}
.signin
{
   height: 55px;
    width: 304px;
        margin-left: 153px;
    margin-top: 18px;
    background-color: teal;
    color:white;
    border-radius: 25px;

}
.signup .glyphicon
{
color: white;
}
.signin .glyphicon
{
color: white;
}

/*post */

.gape
{
    height: 6px;
    color: black;
    background-color: #E5E5E5;
    width: 566px;
    margin-left: -21px;"
}

.thumbnail {
  max-width: 33.333%;
  min-width: 25%;
}
.thumbnail img
{
    width: 100%;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    right: 4px;
    top: 0;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
      margin-top: 10px;
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img { 
 
    margin-right: 8px;
    margin-top: -9px;
   margin-left:  -4px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 9px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 10px !important;
    font-size: 13px;
    min-height: 54px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}
.btn_new
{

    border: wheat !important;
    font-size: 16px;
}


.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 45px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 6px 7px;
   
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 90%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}


.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}
/*end*/

