<div id="searchContainer">
	<div id="searchTitle">Notifications</div>
	<div id="searchBody" class="notifications">
	<%if user_signed_in? && @users.present? %>
		<%@users.each do |user|%>
      <div id="search_<%=user.id%>">
     	 <%=image_tag(user.avatar.url ,id: "imgss",class: "[ img-circle pull-left ]",:width=>"40")%>  <%=link_to "#{user.fullname}" ,user_profile_path(user.id) ,style: "color:teal;"%>
     	</div>      
     <% end %>
	<%end%>
	</div>
	<div id="notificationFooter"><a href="#">See All</a></div>
</div>